.contacts {

	@media ( max-width: 1200px ) {
		&__form {
			
			input, textarea {
			   width: 300px;
				height: 50px;			 
			}

			textarea {
				height: 120px;  
			}
			
			label {	
				margin-left: 15px;
				bottom: -14px;	
			}
		}
	
		&__vert-title {
			font-size: 70px;
			line-height: 50px;
			bottom: 40%;    
		}

		&__form-btn {
			width: 150px;	
		}
	
		&__list {
			iframe {
				height:200px;
			}
		}
	
		.container {
			padding-left: 250px;
		}    
	}
	@media ( max-width: 1024px ) {
		.container {
			flex-wrap: wrap;
			padding-left: 250px;
		
	}
	}

	@media ( max-width: 768px ) {
		.container {
			flex-wrap: wrap;
			padding-left: 40px;	
		}
		&__vert-title {
			display: none;
		}

		&__list {
			width: 90%;
			iframe {	
				height:200px;
			}
		}

		&__form {
			width: 100%;
			margin: 0 auto;
			justify-self: space-between;
		}
		label { 
            bottom: -10px;
            padding: 0 8px;
        }
	}

	@media ( max-width: 425px ) {
		.container {
			flex-wrap: wrap;
			padding-left: 40px;	
		}

		&__vert-title {
			display: none;
		}
	
		input, textarea {
			width: 100%;				 
		 }
	}

	@media ( max-width: 375px ) {
		.container {
			flex-wrap: wrap;
			padding-left: 20px;
			
		}
	}

}