.feedback {

    &__title {
        text-align: center;
    }

    &__text {
        max-width: 565px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    &__slider {
    }

    .container {
        padding-bottom: 100px;
    }
    .swiper {
        width: 100%;
    }
    .swiper-wrapper {
        padding: 20px 20px 100px;
    
    }
    .swiper-slide {
        box-shadow: 15px 20px 20px 2px rgba(0, 0, 0, 0.068);  
    }

    .slide {
        
        padding: 24px;

        &__text {
            margin-bottom: 20px;
        }
        &__text:before {
            content: url(/img/feedback/stars.png);
            display: block;
            margin-bottom: 10px;
        }

    
        &__student {
            position: relative;
            padding-left: 85px;
        }
        &__student::before {
            color: aqua;
            content: url(/img/feedback/photo1.png);
            position: absolute;
            top: 0;
            margin-left: -85px;
        }  
    }
    .slide:nth-child(1) {
        
        .student:before {
            content: url(/img/feedback/photo1.png);
            position: absolute;
            top: 0;
            margin-left: -85px;
        }
    }
    div.slide {  
        cursor: pointer;
    }

    .swiper-button-prev, .swiper-button-next {
        background-color: #2531311e; 
        width: 48px;
        height: 48px;
        color: #253131;
        top: 90%; 
    }

    .swiper-button-prev:active, .swiper-button-next:active {
        background-color: #FDC332; 
        box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.192);
    }

    .swiper-button-next::after { 
        content: url(/img/courses/rightS.png);
        position: relative; 
        bottom: 2px;

    }
    .swiper-button-prev::after { 
        content: url(/img/courses/leftS.png);
        position: relative; 
        bottom: 2px; 

    }
    .swiper-button-prev:active:after { 
        content: url(/img/courses/leftB.png); 

    }
    .swiper-button-next:active:after { 
        content: url(/img/courses/rightB.png);
    }

    .swiper-button-next {
        right: 45%; 
        left: auto; 
    }
    .swiper-button-prev {
        left: 45%;
        right: auto;  
    }

}

