.feedback {
    background:#f0f0f0;;
    &__title {
        text-align: center;
    }

    &__text {
        max-width: 565px;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    .container {
        padding-bottom: 100px;
    }
    .swiper {
        width: 100%;
    }
    .swiper-wrapper {
        padding: 20px 0 100px;
    
    }

    .slide {
        max-height: 345px;
        background:#ffffff;;
        &__text {
        margin-bottom: 20px;
        padding: 24px;
        }
        &__text:before {
            content: url(../img/feedback/stars.png);
            display: block;
            margin-bottom: 10px;
        }

        &__buttons {
            position: relative;
            width: 150px;
            margin: 0 auto;
        } 
    
        &__student {
            position: relative;
            padding: 0 0 20px 110px;
        }
        
        .student1::before {
            content: url(..//img/feedback/photo1.png);
        } 

        .student2::before {
            content: url(../img/feedback/photo2.png);
        }

        .student3::before {
            content: url(../img/feedback/photo3.png);
        }

        &__student::before {     
            position: absolute;
            top: 0;
            margin-left: -85px;
        } 
    }
    
    .swiper-button-prev, .swiper-button-next {
        background-color: #2531311e; 
        width: 48px;
        height: 48px;
        color: #253131;
        top: -30px;
    }

    .swiper-button-prev:active, .swiper-button-next:active {
        background-color: #FDC332; 
        box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.192);
    }

    .swiper-button-next::after { 
        content: url(../img/feedback/rightS.png);
        position: relative; 
        bottom: 2px;
    }

    .swiper-button-prev::after { 
        content: url(../img/feedback/leftS.png);
        position: relative; 
        bottom: 2px; 
    }

    .swiper-button-prev:active:after { 
        content: url(../img/feedback/leftB.png); 
    }

    .swiper-button-next:active:after { 
        content: url(../img/feedback/rightB.png);
    }
}

