.mentors {

	@media ( max-width: 1950px ) {
		&__card-modal {
			width: 60%;
		}
	}
	@media ( max-width: 1440px ) {
		&__card-modal {
			width: 60%;
	}
	}

	@media ( max-width: 1024px ) {
		&__card-modal {
			width: 70%;
	}}

	@media ( max-width: 768px ) {
		&__card-modal-info {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
		}
		&__card-modal-photo {
			width: 100%;
			object-fit: cover;
		}
		&__card-modal-content {
			display: flex;
			flex-direction: column;
			padding: 40px;
		}
		&__card-modal-user {
			text-align: center;   
		}
	}

	@media ( max-width: 425px ) {
		&__card-modal {
			width: 80%;
	}	
	}


	@media ( max-width: 320px ) {
	}
}